/* AMEI BOT #2015 */


position: absolute;
width: 1153.98px;
height: 146.21px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 169px;

color: #FFFFFF;



/* Rectangle 1 */


position: absolute;
width: 2253px;
height: 78.89px;

background: rgba(0, 0, 0, 0.6);


/* AMEI BOT */


position: absolute;
width: 220.82px;
height: 58.9px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;



/* screen-4_1 1 */


position: absolute;
width: 489.47px;
height: 505.93px;

background: url(screen-4_1.jpg);
border-radius: 400px;


/* Invite me */


position: absolute;
width: 392px;
height: 104px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;
text-decoration-line: underline;

color: #FFC700;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* a836966a7c6b7e4419c6466b2d735fb2 1 */


position: absolute;
width: 86.5px;
height: 80.79px;

background: url(a836966a7c6b7e4419c6466b2d735fb2.png);
border-radius: 186px;


/* Powered by */


position: absolute;
width: 153.66px;
height: 33.14px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: rgba(0, 0, 0, 0.7);



/* MiTaskBOT#3702 */


position: absolute;
width: 200.47px;
height: 35.22px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;



/* A simple discord bot */


position: absolute;
width: 223.88px;
height: 29px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;



/* MiTaskBOT */


position: absolute;
width: 492px;
height: 113px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;
/* identical to box height */

text-decoration-line: underline;

color: #FFC700;
